:root {
    --column-position:1;
    --row-position:1;
}

body,html {
    height: 100%;
    margin: 0;
}

.container {
    display: grid;
    height: 100%;
    background-color: lightpink;
    grid-template-columns: 8rem 1fr;
}


/* Sidebar */
.sidebar {
    display: grid;
    grid-column: span 1;
    background-color: lightblue;
}

#add {
    width: 2rem;
    height: 2rem;
}



/* Book Container */
.book-container {
    display: grid;
    grid-column: 2;
    background-color: lightgreen;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
    gap: 10px;
}

.book {
    display: grid;
    grid-column: var(--column-position);
    grid-row: var(--row-position);
    height: 100%;
    width: 100%;
    background-color: red;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 2rem;
    color: white;
    font-size: 10px;
    font-weight: bold;
}

.title-card {
    justify-self: center;
    grid-column: 1 / span 2;
    grid-row: 1;
}

.author-card {
    justify-self: center;
    grid-column: 1 / span 2;
    grid-row: 2;
}

.pages-card {
    justify-self: center;
    grid-column: 1 / span 2;
    grid-row: 3;
}
