:root {
    --column-position:1;
    --row-position:1;
}

body,html {
    height: 100%;
    margin: 0;
}

.container {
    display: grid;
    height: 100%;
    background-color: lightpink;
    grid-template-columns: 8rem 1fr;
}


/* Sidebar */
.sidebar {
    display: grid;
    grid-column: span 1;
    background-color: lightblue;
}

#add {
    width: 2rem;
    height: 2rem;
}



/* Book Container */
.book-container {
    display: grid;
    grid-column: 2;
    background-color: lightgreen;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
}

.book {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    height: 100%;
    width: 100%;
    background-color: red;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 2rem;
    color: white;
    font-size: 10px;
    font-weight: bold;
}
